<h1>Interviewee Dashboard</h1>
<div class="container">
	<div class="col-md-offset-4 col-md-4" ng-controller="ProfileCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">User Profile</h2>		
			</div>
			<div class="panel-body">
				<form editable-form name="profileForm" onbeforesave="updateProfile()">
					<div>
						<label class="title">Login Email: </label>
						<span editable-text="user.email" e-name="email" e-required>
							{{user.name}}
						</span>
					</div>
					<div>
						<label class="title">Name: </label>
						<span editable-text="user.name" e-name="name" e-required>
							{{user.email}}
						</span>
					</div>
					<div>
						<label class="title">Address: </label>
						<span editable-text="user.address" e-name="address">
							{{user.address || 'No address'}}
						</span>
					</div>

					<div class="buttons">
					      <!-- button to show form -->
					      <button type="button" class="btn btn-default" ng-click="profileForm.$show()" ng-show="!profileForm.$visible">
					        Edit
					      </button>
					      <!-- buttons to submit / cancel form -->
					      <span ng-show="profileForm.$visible">
					        <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$waiting">
					          Save
					        </button>
					        <button type="button" class="btn btn-default" ng-disabled="profileForm.$waiting" ng-click="profileForm.$cancel()">
					          Cancel
					        </button>
					      </span>
					    </div>
				</form>
			</div>
		</div>
	</div>
</div>