<!doctype html>
<html ng-app="interviewWatchApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Angular Testing</title>

	<link rel="stylesheet" href="bower_deps/bootstrap/dist/css/bootstrap.min.css">
	<link href="bower_deps/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<link rel="stylesheet" href="app.css">
	
	<script src="bower_deps/jquery/dist/jquery.min.js"></script>
	<script src="bower_deps/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_deps/angular/angular.min.js"></script>
	<script src="bower_deps/angular-resource/angular-resource.min.js"></script>
	<script src="bower_deps/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_deps/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_deps/angular-ui-utils/validate.min.js"></script>
	<script src="bower_deps/angular-xeditable/dist/js/xeditable.js"></script>


	<script src="app.js"></script>
	<script src="auth/auth-service.js"></script>

	<script src="home/home.js"></script>
	<script src="company-dashboard/company-dashboard.js"></script>
	<script src="interviewee-dashboard/interviewee-dashboard.js"></script>
	<script src="job-posting/job-posting.js"></script>
	<script src="applicant-view/applicant-view.js"></script>
	<script src="interview/interview.js"></script>
	<script src="login/login.js"></script>
	<script src="signup/signup.js"></script>
</head>
<body ng-controller="RootCtrl">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Interview.Watch</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right" ng-show="!isLoggedIn()">
				<li><a ui-sref="signup">Signup</a></li>
				<li><a ui-sref="login">Login</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
				<li><a ui-sref="home">Welcome, {{user}}</a></li>
				<li><a ng-click="logout()">Logout</a></li>
			</ul>
		</div>	
		</div>
	</nav>

	<div ui-view></div>

</body>
</html>