<div class="container">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h2>		
			</div>
			<div class="panel-body">
				<form action="" ng-submit="submit()">
					<div class="form-group">
						<label class="" for="email">Email</label>
						<input class="form-control" ng-model="email" name="email" type="email">	
					</div>
					<div class="form-group">
						<label class="" for="pass">Password</label>
						<input class="form-control" ng-model="password" name="pass" type="password">	
					</div>
					<button class="btn">Login</button>
				</form>					
			</div>
		</div>
	</div>
</div>