<link rel="stylesheet" href="signup/signup.css">
<div class="container">
	<div class="col-md-offset-3 col-md-6">
		<div id="formSwitch" class="text-center">
			<div class="btn-group">
				<button class="btn btn-default" ng-class="{active: isIntervieweeVisible()}" ng-click="showInterviewee()">Interviewee</button>
				<button class="btn btn-default" ng-class="{active: isCompanyVisible()}" ng-click="showCompany()">Company</button>
			</div>
		</div>
		<div id="form-container">
			<div id="interviewee-form-container" class="panel panel-default"
				ng-show="isIntervieweeVisible()" ng-controller="IntervieweeSignupCtrl">

				<div class="panel-heading">
					<h3 class="panel-title">Interviewee Signup</h3>
				</div>
				<div class="panel-body">
					<form id="intervieweeForm" name="intervieweeForm" ng-submit="submit()">

						<div class="alert alert-danger" ng-show="submitError">
							{{submitError}}
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': intervieweeForm.name.$dirty && intervieweeForm.name.$invalid}">
							<label class="control-label" for="name">
								Name
								<span ng-show="intervieweeForm.name.$dirty && intervieweeForm.name.$error.required">(Required)</span>
							</label>
							<input type="text" class="form-control" name="name" ng-model="formModel.name" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': intervieweeForm.email.$dirty && intervieweeForm.email.$invalid}">
							<label class="control-label" for="email">
								Login Email
								<span ng-show="intervieweeForm.email.$dirty && intervieweeForm.email.$error.required">(Required)</span>
								<span ng-show="intervieweeForm.email.$dirty && intervieweeForm.email.$error.email">(Invalid Email)</span>
							</label>
							<input type="email" class="form-control" name="email" ng-model="formModel.email" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': intervieweeForm.password.$dirty && intervieweeForm.password.$invalid}">
							<label class="control-label" for="password">
								Password
								<span ng-show="intervieweeForm.password.$dirty && intervieweeForm.password.$error.required">(Required)</span>
							</label>
							<input type="password" class="form-control" name="password" ng-model="formModel.password" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': intervieweeForm.confirmPassword.$dirty && intervieweeForm.confirmPassword.$invalid}">
							<label class="control-label" for="confirmPassword">
								Confirm Password
								<span ng-show="intervieweeForm.confirmPassword.$dirty && intervieweeForm.confirmPassword.$error.required">(Required)</span>
								<span ng-show="intervieweeForm.confirmPassword.$dirty && intervieweeForm.confirmPassword.$error.passMatch">(Doesn't match)</span>
							</label>
							<input type="password" class="form-control" name="confirmPassword" ng-model="formModel.confirmPassword" required ui-validate="{passMatch: 'formModel.password == $value'}" ui-validate-watch=" 'formModel.password' ">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<button type="submit" class="btn btn-signup pull-right" ng-disabled="!intervieweeForm.$valid">Signup</button>
					</form>
				</div>
				
			</div>
			<div id="company-form-container" class="panel panel-default"
				ng-show="isCompanyVisible()" ng-controller="CompanySignupCtrl">

				<div class="panel-heading"><h3 class="panel-title">Company Signup</h3></div>

				<div class="panel-body">
					<form id="companyForm" name="companyForm" ng-submit="submit()">

						<div class="alert alert-danger" ng-show="submitError">
							{{submitError}}
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.name.$dirty && companyForm.name.$invalid}">
							<label class="control-label" for="name">
								Company Name
								<span ng-show="companyForm.name.$dirty && companyForm.name.$error.required">(Required)</span>
							</label>
							<input type="text" class="form-control" name="name" ng-model="formModel.name" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.email.$dirty && companyForm.email.$invalid}">
							<label class="control-label" for="email">
								Login Email
								<span ng-show="companyForm.email.$dirty && companyForm.email.$error.required">(Required)</span>
								<span ng-show="companyForm.email.$dirty && companyForm.email.$error.email">(Invalid Email)</span>
							</label>
							<input type="email" class="form-control" name="email" ng-model="formModel.email" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>

						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.password.$dirty && companyForm.password.$invalid}">
							<label class="control-label" for="password">
								Password
								<span ng-show="companyForm.password.$dirty && companyForm.password.$error.required">(Required)</span>
							</label>
							<input type="password" class="form-control" name="password" ng-model="formModel.password" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.confirmPassword.$dirty && companyForm.confirmPassword.$invalid}">
							<label class="control-label" for="confirmPassword">
								Confirm Password
								<span ng-show="companyForm.confirmPassword.$dirty && companyForm.confirmPassword.$error.required">(Required)</span>
								<span ng-show="companyForm.confirmPassword.$dirty && companyForm.confirmPassword.$error.passMatch">(Doesn't match)</span>
							</label>
							<input type="password" class="form-control" name="confirmPassword" ng-model="formModel.confirmPassword" required ui-validate="{passMatch: 'formModel.password == $value'}" ui-validate-watch=" 'formModel.password' ">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<legend>Primary Contact</legend>
						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.PCName.$dirty && companyForm.PCName.$invalid}">
							<label class="control-label" for="PCName">
								Name
								<span ng-show="companyForm.PCName.$dirty && companyForm.PCName.$error.required">(Required)</span>
							</label>
							<input type="text" class="form-control" name="PCName" ng-model="formModel.contact.name" required>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.PCAddress.$dirty && companyForm.PCAddress.$invalid}">
							<label class="control-label" for="PCAddress">
								Address
								<span>(Optional)</span>
							</label>
							<textarea type="text" class="form-control" name="PCAddress" ng-model="formModel.contact.address"></textarea>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': (companyForm.PCEmail.$dirty || companyForm.PCPhone.$dirty) && companyForm.PCEmail.$invalid}">
							<label class="control-label" for="PCEmail">
								Email
								<span ng-show="(companyForm.PCEmail.$dirty || companyForm.PCPhone.$dirty) && companyForm.PCEmail.$error.emailOrPhone">(At least one email or phone number required)</span>
								<span ng-show="(companyForm.PCEmail.$dirty || companyForm.PCPhone.$dirty) && companyForm.PCEmail.$error.email">(Invalid Email)</span>
							</label>
							<input type="email" class="form-control" name="PCEmail" ng-model="formModel.contact.email"
								ui-validate="{emailOrPhone: '!empty($value) || !empty(formModel.contact.phone)'}"
								ui-validate-watch=" 'formModel.contact.phone' ">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': (companyForm.PCEmail.$dirty || companyForm.PCPhone.$dirty) && companyForm.PCPhone.$invalid}">
							<label class="control-label" for="PCPhone">
								Phone
								<span ng-show="(companyForm.PCEmail.$dirty || companyForm.PCPhone.$dirty) && companyForm.PCPhone.$error.emailOrPhone">(At least one email or phone number required)</span>
							</label>
							<input type="tel" class="form-control" name="PCPhone" ng-model="formModel.contact.phone"
								ui-validate="{emailOrPhone: '!empty($value) || !empty(formModel.contact.email)'}"
								ui-validate-watch=" 'formModel.contact.email' ">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-error': companyForm.PCFax.$dirty && companyForm.PCFax.$invalid}">
							<label class="control-label" for="PCFax">
								Fax
								<span>(Optional)</span>
							</label>
							<input type="tel" class="form-control" name="PCFax" ng-model="formModel.contact.fax">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<button type="submit" class="btn btn-signup pull-right" ng-disabled="!companyForm.$valid">Signup</button>
						</div>
					</form>					
				</div>
			</div>
		</div>
	</div>
</div>