#formSwitch {
	margin-bottom: 25px;
}

legend {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}

.btn-signup {
	margin-top: 5px;
}

div.form-group:not(.has-error) > .glyphicon-remove.form-control-feedback {
	visibility: hidden;
}